@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,300,600,700);

body {
    margin-top: 100px;
    background-color:#FCFCFC;
}

h1,h2,h3,h4,h5,p{
    color: #777;
    font-family: "Josefin Sans",sans-serif;
}

p,li,a{
    font-family: "Josefin Sans",sans-serif;
}

@media(min-width:768px) {
    body {
        margin-top: 50px;
    }
}

#wrapper {
    padding-left: 0;
}

#page-wrapper {
    width: 100%;
    padding: 0;
    background-color: #FCFCFC;
}

.huge {
    font-size: 50px;
    line-height: normal;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 225px;
    }

    #page-wrapper {
        padding: 10px;
    }
}

/* Top Navigation */

.top-nav {
    padding: 0 15px;
}

.top-nav>li {
    display: inline-block;
    float: left;
}

.top-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    color: #999;
}

.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
    color: #fff;
    background-color: #a1a1a1;
}

.top-nav>.open>.dropdown-menu {
    float: left;
    position: absolute;
    margin-top: 0;
    /*border: 1px solid rgba(0,0,0,.15);*/
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.top-nav>.open>.dropdown-menu>li>a {
    white-space: normal;
}

ul.message-dropdown {
    padding: 0;
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
}

li.message-preview {
    width: 275px;
    /*border-bottom: 1px solid rgba(0,0,0,.15);*/
}

li.message-preview>a {
    padding-top: 15px;
    padding-bottom: 15px;
}

li.message-footer {
    margin: 5px 0;
}

ul.alert-dropdown {
    width: 200px;
}

/* Side Navigation */

@media(min-width:768px) {
    .side-nav {
        position: fixed;
        top: 50px;
        left: 225px;
        width: 225px;
        margin-left: -225px;
        border: none;
        border-radius: 0;
        overflow-y: auto;
        background-color: #222;
        bottom: 0;
        overflow-x: hidden;
        padding-bottom: 40px;
    }

    .side-nav>li>a {
        width: 225px;
    }

    .side-nav li a:hover,
    .side-nav li a:focus {
        outline: none;
    }
}

.side-nav>li>ul {
    padding: 0;
}

.side-nav>li>ul>li>a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    color: #999;
}

.side-nav>li>ul>li>a:hover {
    color: #fff;
}

/* Flot Chart Containers */

.flot-chart {
    display: block;
    height: 400px;
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}

/* Custom Colored Panels */

.huge {
    font-size: 40px;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green > .panel-heading {
    /*border-color: #5cb85c;*/
    color: #fff;
    background-color: #5cb85c;
}

.panel-green > a {
    color: #5cb85c;
}

.panel-green > a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red > .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red > a {
    color: #d9534f;
}

.panel-red > a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow > .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow > a {
    color: #f0ad4e;
}

.panel-yellow > a:hover {
    color: #df8a13;
}

/*user styles*/

/*header line*/
.navbar-brand,.dropdown-toggle{
    font-family: 'Josefin Sans', sans-serif;
}
.navbar-nav > .active > a{
    background: #2F88C4;
}
nav.navbar{
    background: #313643;
    border:0;
}
.navbar-brand{
    color: #f4f4f4;
}
.navbar .dropdown-toggle{
    color: #f4f4f4;
}
.navbar-nav > li{
    border:0px;
}
.dropdown-menu > li > a{
    color: #3498DB;
}
.dropdown-menu > li > a:hover{
    color: #a1a1a1;
}

/*sidebar*/
.side-nav{
    background: #3E4453;
    color: #3498DB;
}
.side-nav .side-nav > li{
    color: #3498DB;
}
.side-nav .side-nav > li:focus{
    color: #3498DB;   
}
.side-nav > li > a{
    color: #9da5b9;
}
.side-nav > li > a:hover{
    color: #f4f4f4;
    background: #3498DB; 
}
.side-nav > li:hover > a{
    color: #f4f4f4;
    background: #3498DB;
}
.side-nav > li.active a{
    color: #f4f4f4;
    background: #3498DB;
}
.side-nav > li > ul > li > a{
    color: #3498DB;
}
.side-nav > li > ul > li > a:hover{
    color: #f4f4f4;
    background: #a1a1a1;
}
.page-header{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    color: #a1a1a1;
}
.side-nav .navbar-nav > .active > a, .navbar-nav > .active > a:focus, .navbar-nav > .active > a:hover{
    background:#3498db;
    color: #f4f4f4;
}

/*choose theme*/
.theme-picture{
    margin:15px;
    border:1px solid #e3e3e3;
    position: relative;
}
.theme-description{
    padding:10px;
    position: absolute;
    bottom: 0px;
    width: 100%;
    z-index: 2;
    background: #fff;
    border-top:1px solid #e3e3e3;
}
.theme-name{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    color: #3498db; 
}
.activate-buttons{
    float: right;
    display: none;
    opacity: 0;
}
.activate-buttons button{
    border-radius: 0px;
    box-shadow: none;
    text-shadow:none;
    font-family: 'Josefin Sans', sans-serif;
    color: #666;
    border:1px solid #ddd;
}
.activate-buttons button:hover{
    transition:all .4s;
}
.theme-picture:hover .activate-buttons{
    display: block;
    opacity: 1;
    animation-name:show;
    animation-duration: .5s;
}
.theme-picture:hover .preview-button{
    display: block;
    opacity: 1;
    animation-name:show;
    animation-duration: .5s;
}
@keyframes show{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.preview-button{
    background: rgba(244, 244, 244, 0.8) none repeat scroll 0 0;
    height: 100%;
    left: 0;
    padding: 15px;
    position: absolute;
    top: 0;
    width: 100%;
    display: none;
    color: #606060;
}

/*featured property*/
.featured-listing-area{
    background: #F4F4F4;
    padding:25px 50px;
}
.featured-list-item{
    border:1px solid #e3e3e3;
    margin:0;
    padding:0;
}
.featured-listing-area h2{
    padding-bottom: 25px;
}
.property-quick-icons{
    background: #3498DB;
    padding:5px 5px;
}
.property-quick-icons ul{
    margin:0;
    padding:0;
}
.property-quick-icons li{
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
}
.property-listing-description{
    background: #fff;
    padding:25px 15px;
}
.property-listing-description h5{
    margin:0;
    padding:5px 0;
    color: #4fc1e9;
}
.property-listing-description p{
    color: #777;
    font-family: "Source Sans Pro",sans-serif;
    font-weight: 300;
}
.short-bullet-list{
    list-style-type: none;
    margin:25px 0 0 0;
    padding: 0;
}
.short-bullet-list li{
    color: #777;
}
.panel-property-listings .view-details{
    margin:25px 0 0 15px;
    clear: both;
}
.panel-property-listings .panel-title{
    color: #777;
}
.btn-add-featured{
    border-radius: 0px;
    color: #777;
}
.btn-add-featured:hover{
    color: #777;   
}
.panel-default > .panel-heading{
    background: #f4f4f4;
    border-radius: 0px;
}
.panel-group .panel{
    border-radius: 0px;   
}
.featured-list-image{
    position: relative;
}
.remove-featured{
    position: absolute;
    top:5px;
    right:5px;
    font-size:20px;
    height:30px;
    width: 30px;
    background: #564646;
    border-radius:50%;
    display: none;
    box-shadow: 0px 1px 5px rgba(0,0,0,.5);
}
.remove-featured p{
    margin-top: 0px;
    text-align: center;
}
.remove-featured a{
    color: #fff;
}
.featured-list-item:hover .remove-featured{
    display: block;
}
.tooltip-inner{
    background: #564646;
}
.tooltip-arrow{
    border-top-color: #564646 !important;
    border-width: 5px 5px 0;
}
.pagination-area{
    clear: both;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
.pagination-area .pagination{
    border-radius:0px;
    border:0px;
    margin:0;
    padding:0;
}
.pagination > li:first-child > a, .pagination > li:first-child > span,
.pagination > li:last-child > a, .pagination > li:last-child > span{
    border-radius:0px;  
    border:0px;
}
.pagination > li > a, .pagination > li > span{
    background: none;
    border:0px;
}
.sorting{
    clear: both;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    color: #6b6e80;
}
.sorting:before,
.sorting:after{
    content: " ";
    display: table;
    clear: both;
}
.filters select,
.filters input{
    border-radius: 0px;
    box-shadow: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}
.filters select:focus,
.filters input:focus{
    border-radius: 0px;
    border-color: none;
    box-shadow: none;
}
.property-filter-form{
    background: #f4f4f4;
    padding:15px;
    margin-bottom:15px;
}
.property-filter-form:after,
.property-filter-form:before{
    content: "";
    display: table;
    clear: both;
}
.property-filter-form label{
    color: #6b6e80;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}
.property-filter-form select,
.property-filter-form input{
    border-radius: 0px;
    box-shadow: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}
.property-filter-form select:focus,
.property-filter-form input:focus{
    border-radius: 0px;
    border-color: none;
    box-shadow: none;
}
.property-filter-form .submit-button{
    margin-top:24px;
    padding: 8px 0 7px;
    border-radius: 0px;
    font-family: 'Source Sans Pro', sans-serif;
}

/*dashboard*/
.dashboard-welcome{
    padding: 15px 0;
}
.dashboard-welcome small,
.dashboard-welcome h2{
    margin:0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    color: #777;
}
.dashboard-intro{
    background: #FCFCFC;
}
.btn-choose-theme{
    font-family: 'Source Sans Pro', sans-serif;
    border-radius:0px;
}
.dashboard-intro ul{
    margin:0;
    padding: 0;
    list-style-type: none;
}
.dashboard-intro li{
    margin:5px 0;
}
.dashboard-intro li a{
    font-size:16px;
    text-decoration: none;
}
.dashboard-intro li a i{
    color: #777;
    font-size: 20px;
    width:40px;
}
.dashboard-panel{
    padding:15px;
    margin:50px 0 0 0;
    background: #F1F3F7;
}
.dashboard-panel h1,
.dashboard-panel h2,
.dashboard-panel h3,
.dashboard-panel h4,
.dashboard-panel h5{
    font-family: 'Josefin Sans', sans-serif;
}
.dashboard-panel ul{
    margin:0;
    padding: 0;
    list-style-type: none;
}
.dashboard-panel ul li{
    font-size: 18px;
    color: #a1a1a1;
}