@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,500,600);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);

h1,h2,h3,h4{
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
}

a:hover{
	text-decoration: none;
}

.section-title{
	color: #6c7175;
}

/*nav bar*/
.navbar{
	background: #fff;
	font-family: 'Raleway', sans-serif;
}
.navbar-brand{
	padding:30px 0;
}
.navbar .navbar-nav li a{
	padding: 30px 35px;
	color: #3498DB;
}
.navbar .navbar-nav li a:hover{
	background: none;
}
/*.navbar .navbar-nav li.active a:after{
	background: #3498DB none repeat scroll 0 0;
    border-radius: 100%;
    bottom: 15px;
    content: "";
    height: 8px;
    left: 50%;
    margin-left: -4px;
    position: absolute;
    width: 8px;
}*/

/*slider area*/
.slider-area{
	height: auto;
    min-height: 600px;
    padding-bottom:0px;
    padding-top: 0px;
    width: 100%;
    position: relative;
}
.slider-area:after{
	/*background-color: rgba(0, 0, 0, 0.55);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;*/
}
.filter-property{
	position: absolute;
	z-index:5;
	top:150px;
	width: 450px;
	background: rgba(255, 255, 255, 0.7);
	padding:15px;
}
.filter-property label{
	color: #6b6e80;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
}
.filter-property select,
.filter-property input{
	border-radius: 0px;
	box-shadow: none;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
}
.filter-property select:focus,
.filter-property input:focus{
	border-radius: 0px;
	border-color: none;
	box-shadow: none;
}
.submit-button{
	padding:10px 0;
	background: #3498DB;
	color: #f7f7f7;
	text-shadow:none;
	box-shadow: none;
	border-radius: 0px;
	border:0px;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
}
.submit-button:hover{
	background: #37B0E9;
	color: #f7f7f7;
	transition:all .5s;
}
/*.image-container:after{
	background-color: rgba(0, 0, 0, 0.55);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}
.image-container{
	height: 600px;
	overflow:hidden; 
	position: relative;
}
.image-container img{
	border: medium none;
    height: auto;
    left: 0;
    top:-300px;
    margin: 0;
    max-height: none;
    max-width: none;
    padding: 0;
    position: absolute;
    width: 100%;
    z-index: -999999;
}*/

/*featured property*/
.featured-listing-area{
	background: #F4F4F4;
	padding:25px 50px;
}
.featured-listing-area h2{
	padding-bottom: 25px;
}
.property-quick-icons{
	background: #3498DB;
	padding:5px 5px;
}
.property-quick-icons ul{
	margin:0;
	padding:0;
}
.property-quick-icons li{
	color: #fff;
	font-family: 'Open Sans', sans-serif;
}
.property-listing-description{
	background: #fff;
	padding:25px 15px;
}
.property-listing-description h5{
	margin:0;
	padding:5px 0;
	color: #4fc1e9;
}
.property-listing-description p{
	color: #777;
	font-family: "Open Sans",sans-serif;
	font-weight: 300;
}
.property-listing-price{
	position: absolute;
	top:0;
	right: 15px;
	padding:10px;
	color: #fff;
	background: #3498DB;
	font-family: "Open Sans",sans-serif;
	font-weight: 300;
}

/*agent info area*/
.agent-info-area{
	padding:25px 50px;
	background: #F4F4F4;
}
.agent-info-area p{
	font-family: "Open Sans",sans-serif;
	font-weight: 300;	
}
.agent-image img{
	border-radius:0px;
	border:1px solid #bbb;
}
.properties-sold li .img-thumbnail{
	border-radius:0px;
	border:1px solid #bbb;
}

/*agent listing area*/
.agent-listing-area{
	background: url("../img/bg02.jpg");
	background-attachment: fixed;
    background-position: center 0;
    background-repeat: no-repeat;
    background-size: cover !important;
    height: auto;
    min-height: 450px;
    padding-bottom: 60px;
    padding-top: 120px;
    position: relative;
    width: 100%;
}
.agent-listing-area:after{
	background-color: rgba(0, 0, 0, 0.65);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}
.agent-description{
	position: relative;
	z-index: 2;
	color: #fff;
}
.agent-description p{
	font-family: "Open Sans",sans-serif;
	font-weight: 300;
}

/*blog contact area*/
.blog-contact-area{
	background: #f4f4f4;
	padding-bottom: 25px;
}
.blog-contact-area h4{
	padding-bottom:15px;
}
.blog-list,
.contact-area{
	padding: 15px;
	/*background: rgba(255, 255, 255, 0.7);*/
}
.blog-list ul{
	margin:0;
	padding:0;
	list-style-type: none;
}
.blog-list ul li{
	border-bottom:1px solid #e3e3e3;
	padding:15px;
}
.blog-list ul li .img-thumbnail{
	border-radius:0px;
	border:1px solid #bbb;
}
.blog-list ul li span{
	font-family: "Open Sans",sans-serif;
	font-weight: 300;
	font-size:12px;
}
.blog-list ul li p{
	margin:0;
	padding:0;
}
.blog-list ul li a{
	font-family: "Open Sans",sans-serif;
	font-weight: 300; 
}
hr{
	background: #f4f4f4;
	border-color: #e3e3e3;
}
.contact-area{
	padding-top:20px;
}
.contact-area label{
	color: #6b6e80;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
}
.contact-area select,
.contact-area input,
.contact-area textarea{
	border-radius: 0px;
	box-shadow: none;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
}
.contact-area select:focus,
.contact-area input:focus,
.contact-area textarea{
	border-radius: 0px;
	border-color: none;
	box-shadow: none;
}

/*footer*/
footer{
	background: #3e4453;
	padding:25px 15px;
}
.footer-copyright{
	padding:25px 0;
	color: #a1a1a1;
	text-align: center;
}
.social-icons ul{
	margin:0 auto;
	padding:0;
	list-style-type: none;
}
.social-icons ul li a{
	font-size:25px;
	color: #a1a1a1;
}
.quick-link-title{
	color: #f7f7f7;
	font-weight: 400;
}
.footer-links{
	margin:0 0 0 15px;
	padding:0;
	list-style-type: none;
}
.footer-links li{
	text-align: left;
}
.footer-links li a{
	font-family: "Open Sans",sans-serif;
	font-weight: 300;
	color: #a1a1a1;
}

/*property detail page*/
.property-main-content{
	background: #F1F3F7;
}
.property-detail-header{
	position: relative;
	height: 450px;
	overflow: hidden;
}
.property-detail-header img{
	width: 100%;
	height: auto;
	position: absolute;
	top:-250px;
	background-size: cover;
}
.property-header-text{
	position: absolute;
	top:300px;
}
.property-header-text h3{
	margin:0;
	font-size:30px;
}
.property-header-text h2,
.property-header-text h3{
	color: #fff;
	font-weight: 600;
	font-family: "Raleway",sans-serif;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}
.property-header-text p{
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
	color: #fff;
	font-family: "Raleway",sans-serif;
}
.property-detail-filter{
	padding:25px 0;
}
.property-filter-form label{
	color: #6b6e80;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
}
.property-filter-form select,
.property-filter-form input{
	border-radius: 0px;
	box-shadow: none;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
}
.property-filter-form select:focus,
.property-filter-form input:focus{
	border-radius: 0px;
	border-color: none;
	box-shadow: none;
}
.property-filter-form .submit-button{
	margin-top:24px;
	padding: 8px 0 7px;
}
.property-main-content{
	padding:50px 0;
}
.property-details p{
	font-family: "Open Sans",sans-serif;
	font-weight: 300;
}
.property-details ul{
	margin:0;
	padding: 0;
	list-style-type: none;
}
.property-details ul li:before{

}
.property-details ul li{
	font-family: "Open Sans",sans-serif;
	font-weight: 300;
}
.property-details ul li a{
	color: #3498db;
}
.filter-tab{
	background: #fff;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	padding:15px;
	margin:15px 0;
}
.filter-tab ul{
	margin:0;
	padding: 0;
	list-style-type: none;
}
.filter-tab li a{
	font-family: "Open Sans",sans-serif;
	font-weight: 300;
	color: #3498db;
}
.filter-tab li .badge{
	font-family: "Open Sans",sans-serif;
	font-weight: 300;
	background: #52b6f9; 
}
.filter-tab li i{
	font-size:20px;
}
.property-social-share{
	margin:0 auto;
	text-align: center;
}
.property-social-share li{
	padding: 0;
	margin:0;
}
.property-social-share li a{
	text-align: center;
}
.property-social-share li .fa{
	width: 30px;
	height: 30px;
	padding-top: 5px;
	color: #fff;
}
.property-social-share li .fa-envelope{
	background: #333;
}
.property-social-share li .fa-facebook{
	background: #4a66a0;
}
.property-social-share li .fa-twitter{
	background: #55acee;
}
.property-social-share li .fa-google-plus{
	background: #d73d32;
}
.property-social-share li .fa-linkedin{
	background: #0177b5;
}
.photo-gallery{
	clear: both;
	padding: 25px 0;
}
.photo-gallery .col-md-2{
	padding: 0;
	margin:5px;
}
.photo-gallery .col-md-2:nth-child(+n+8){
	display: none;
}
.photo-gallery .img-thumbnail{
	border-radius:0px;
	border:0px;
}
.see-all{
	position: absolute;
	top: 0px;
	left: 0px;
	content: "";
	height: 100%;
	width:100%;
	background: rgba(0,0,0,.5);
}
.see-all p{
	font-size:12px;
	color: #fff;
	text-align: center;
	margin:15px 0 0 0;
	font-weight: 600;
	text-shadow:0px 1px 1px rgba(0,0,0,.8);
}
.blueimp-gallery .caption{
	position: absolute;
	top:0;
	z-index: 999;
}
.blueimp-gallery .modal-content,
.blueimp-gallery .modal-header{
	border-radius:0px;
}
.blueimp-gallery .modal-header,
.blueimp-gallery .modal-footer{
	border:0px;
}









